{% extends 'donations/base.html' %}

{% block content %}

                       <div class="envelope">
                           <div class="date">
                               <p>Created On: {{ e.created_on }}</p>
                           </div>
                           <div class="date">
                               <p>Last Modified On: {{ e.last_modified_on }}</p>
                           </div>
                           <p>Campaign: {{ e.belongs_to }}</p>
                           <h1>{{ e.name }}</h1>
                           <div>
                                 <p>{{ e.desc|linebreaksbr }}</p>
                           </div>
                       </div>

                       <a href="javascript:history.back()">Go Back</a>

{% endblock %}

