.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 16pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "Times New Roman", Times, serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.envelope-form textarea, .envelope-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 12pt;
    margin-right: 20px;
}

.envelope {
    margin-bottom: 70px;
}

.envelope h1 a, .envelope h1 a:visited {
    color: #000000;
}
