{% extends 'main/base.html' %}

{% block content %}

                       <div class="envelope">
                           <p>{{ e.name }}</p>
                           <div>
                                 <p>{{ e.desc|linebreaksbr }}</p>
                           </div>
                           <p>Campaign: {{ e.belongs_to }}</p>
                           <div class="date">
                               <p>Created On: {{ e.created_on }}</p>
                           </div>
                           <div class="date">
                               <p>Last Modified On: {{ e.last_modified_on }}</p>
                           </div>
                       </div>

                       {% if user.is_authenticated %}
                           <a class="btn btn-default" href="{% url 'envelope_edit' pk=e.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                       {% endif %}

                       <br /><br />
                       <a href="/">Go Back</a>

{% endblock %}

